node_modules
.next
.git
.gitignore
.env
.env.local
.env.*.local
README.md
*.log
.DS_Store
coverage
.vscode
.idea
**/__tests__
*.test.ts
*.test.tsx
vitest.config.ts
data
e2e
grafana
.next/standalone/data
.next/standalone/e2e
.next/standalone/grafana
