name: Release version
run-name: Release version (${{ github.event.inputs.increment }})

on:
  workflow_dispatch:
    inputs:
      increment:
        type: choice
        description: Semantic versioning increment type
        options:
          - major
          - minor
          - patch
        required: true
        default: patch

jobs:
  release:
    name: Release version (${{ github.event.inputs.increment }})
    runs-on: ubuntu-latest

    if: github.ref_name == 'main'

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          fetch-tags: true
          ssh-key: '${{ secrets.VERSION_RELEASE_DEPLOYMENT_KEY }}'

      - name: Setup git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Bump up ${{ github.event.inputs.increment }} version
        id: increment_version
        run: |
          VERSION=$(pnpm version ${{ github.event.inputs.increment }})
          echo "New version: $VERSION"
          echo "new-version=$VERSION" >> $GITHUB_OUTPUT

      - name: Push new version ${{ steps.increment_version.outputs.new-version }}
        run: git push --follow-tags

      - name: Publish new version ${{ steps.increment_version.outputs.new-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=${{ steps.increment_version.outputs.new-version }}
          gh release create "${VERSION}" \
            --title "Release ${VERSION}" \
            --notes "Commit ${{ github.sha }} on $(date)"
